@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0e0e0e;
  --foreground: #f6f4eb;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-sabon), serif;
}
